body {
  background-color: #7F8E82;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body h1 {
  font-size: 3rem;
  color: #fff;
}
body .container {
  left: 50px;
  position: absolute;
}
.btn {
  float: left;
  padding: 10px;
  border: 1px solid darkslateblue;
  border-radius: 4px;
  background-color: #fff;
  margin: 4px;
  width: 100px;
  cursor: pointer;
  text-align: center;
}
.btn .desc {
  font-size: 0.8rem;
  padding-top: 4px;
}
.tweet {
  width: 500px;
  padding: 10px;
  background: #fff;
  font-size: 2rem;
  border-radius: 2px;
  margin-bottom: 10px;
}
